[include]
    path = ~/.sensitive/.gituser
[color]
    branch = auto
    diff = auto
    status = auto
[push]
    default = simple
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    lga = log --decorate --all --color --graph --oneline